
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ramblin' Recipes</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
</head>
<body>
    <section class="section custom-title-padding">
        <div class = ".bungee-regular">
            <h1 class="title is-1">Ramblin' Recipes</h1>
        </div>
    </section>

    <section class="section custom-form-padding">
        {% if form.errors %}
            <div class="notification is-danger">
                <p><strong>Error:</strong></p>
                <ul>
                    {% for field, errors in form.errors.items %}
                        <li>{{ field.label }} {{ errors }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    
    
        <form method="POST">
            {% csrf_token %}
    
            <div class="field">
                <label class="label">{{ form.skill_level.label }}</label>
                <div class="control">
                    {{ form.skill_level }}
                </div>
            </div>

            <div class="field">
                <label class="label">{{ form.nutrition_level.label }}</label>
                <div class="control">
                    {{ form.nutrition_level }}
                </div>
            </div>
    
            <div class="field">
                <label class="label">{{ form.ingredients.label }}</label>
                <div class = "text-field">
                <div class="control">
                    {{ form.ingredients }}
                </div>
                </div>
            </div>
    
            <div class="field">
                <div class="control" style="display: flex; justify-content: center;">
                        <button type="submit" class="button is-primary">Get Recommendations</button>
                </div>
            </div>
        </form>
        <hr>
    </section>

    <section class="section custom-results-padding">
        <h2 class="title is-3">Recommended Recipes:</h2>
        <div class="columns is-multiline">
            {% if recipes %}
                {% for recipe in recipes %}
                    <div class="column is-half">
                        <div class="card">
                            <div class="card-content">
                                <p class="title is-4">
                                    <a href="{{ recipe.sourceUrl }}" target="_blank">{{ recipe.title }}</a>
                                </p>
                                <div class="columns">
                                    <div class="column is-one-third">
                                        <figure class="image is-4by3">
                                            <img src="{{ recipe.image }}" alt="{{ recipe.title }}">
                                        </figure>
                                    </div>
                                    <div class="column">
                                        <p class="subtitle is-6">Ready in {{ recipe.readyInMinutes }} minutes</p>
                                        <div class="content">
                                            Ingredients: 
                                            {{ recipe.all_ingredients|join:', ' }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>No recipes found based on your search.</p>
            {% endif %}
        </div>
    </section>
    
   



</body>
</html>
