body {
    
}

.custom-title-padding {
    padding-bottom: 40px;
    background-color: #E4E3D3;
    padding-top: 40px;
    
}

.custom-form-padding {
    padding-bottom: 110px;
}

.custom-results-padding {
    background-color: #E4E3D3;
    margin-top: 0;
}

.button.is-primary {
    margin-top: 1rem;
}

.card {
    height: 300px; 
    display: flex;
    flex-direction: column;
    
}

.card-content {
    flex-grow: 1; 
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
}

.recipe-title {
    margin-bottom: 1rem;
}

.is-4by3 {
    height: auto;
    width: auto;
}

.field {
    margin-bottom: 0;
    float: left;
    width: 25%;
    padding: 10px;
}

.text-field {
    width: 140%
}

.control input, 
.control select {
    width: 70%; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 6px; 
    font-size: 16px; 
    transition: border-color 0.3s;
}

.control input:focus, 
.control select:focus {
    border-color: #567f59; 
    outline: none; 
}

.button.is-primary {
    padding: 10px 20px; 
    background-color: #6D9F71;
    color: rgb(251, 251, 251); 
    border: none; 
    border-radius: 4px; 
    font-size: 16px; 
    cursor: pointer;
    transition: background-color 0.3s; 
    justify-content: center;
}

.button.is-primary:hover {
    background-color: #567f59; 
}


.is-1 {
    font-family: "Bungee", sans-serif;
}

a{
    color: #567f59;
}
a:hover{
    color: #446646;
}

.is-3{
    font-family: "Rubik", sans-serif;
}